@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links";

$bg-colour: #e8d0a9;
$link-colour: #6d929b;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html {
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  @include background(linear-gradient(top, lighten($bg-colour, 8%) 20%,
                                           darken($bg-colour, 1%)  50%,
                                           lighten($bg-colour, 8%) 80%));
  min-height: 100%;

}

article {
  margin-bottom: 20px;
  >h1 {
    @include text-shadow(rgba(black, 0.5) 1px 1px 2px);
  }
  >footer {
    margin-top: 10px;
    clear: left;
  }
}

h1 {
  font-size: 2.3em;
}

a {
  @include hover-link;
  @include link-colors($link-colour);
  font-weight: bold;
}

// transitions {
#block1,#block2,#block3 {
  margin: 10px 20px 10px 0;
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px;
  h1 {
    font-size: 50pt;
    margin: 0;
    padding: 0;
  }
}

#block1 {
  background-color: blue;
  @include transition(opacity 0.8s linear, height 0.2s linear);
}
#block2 {
  background-color: green;
}
#block3 {
  background-color: red;
  @include transition(height 0.8s linear);
  height: auto;
}
// } transitions

// state {
[data-s-login],[data-s-view] {
  display: none;
  opacity: 0;
  width: 200px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  @include transition(opacity 1.0s linear);
}

#state-cnsl {
  height: 1em;
  margin: 5px;
  padding: 3px;
  width: 300px;
  border: 1px solid #dd1111;
  background-color: #eeeeee;
  color: #dd2222;
}
// TODO:
// }
